html { 
	width:960px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

body { 
	font-family: Georgia, Times New Roman, serif; 
	background-image:url(http://subtlepatterns.com/patterns/old_wall.png);
}  

h1 {
	font: bold 48px "Roadgeek2000SeriesCRegular", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-family: Helvetica, Arial, sans-serif; 
	margin:0px;
	float:left;
}

a {
	text-decoration:none;
	color:#0F0F95;
	font-family: Helvetica, Arial, sans-serif; 
}

p {
	color:#333333;
}

h3 {
	letter-spacing:2px;
	font-size:31px;
	color:white;
	background:#555;
	padding-left:10px;
	font-family: Helvetica, Arial, sans-serif; 
}

#toph3 {
	margin-top:18px;
}

#left {
	margin-top:18px;
	width:460px;
	float:left;
}

hr {
	width:100%;
	float:left;
	margin-left:0px;
}

.hero {
	width:460px;
	float:left;
	border: 1px solid #777;
	margin-bottom: 16px;
}

#heroCaption {
	font-size:21px;
}

#heroTitle {
	font: 31px Helvetica Neue, Helvetica, Arial, sans-serif;
	margin:0;
}

#heroBody {
	margin-top:10px;
}

.row {
	margin-left:480px;
	width:460px;
}

.header {
	margin-top:25px;
}

.clear {
	clear:both;
}

.contact {
	float:right;
	padding-top:45px;
	font-size:12px;
}

.nav  {
	clear:both;
	float:left;	
}

.navItem {
	margin-left:5px;
}

.quote p{
	font-size:16px;
	font-style:italic;
	color:#777;
	margin:16px 0 16px 0;
}

.span3 {
	margin-left:240px;
}

.span6 {
	margin-left:480px;
}

.span9 {
	margin-left:720px;
}