html { 
}

body { 
	font-family: Arial, Helvetica, sans-serif; 
	background: url(images/light_noise_diagonal.png);
}  

#logo {
	font-family:'Amatic SC';
}

#logo h1 {
	font-size:72px;
	margin-top:21px;
	margin-bottom:21px;
}

#content img {
	width:600px;
	-webkit-box-shadow: 0px 0px 4px 0px #000000; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: 0px 0px 4px 0px #000000; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
}

.hero-unit {
	background-color: #D6D6D6 !important;
}
