html { 
	width:960px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

body { 
	font-family: Georgia, Times New Roman, serif; 
	width:960px;
	background:#FAFBF7;
	padding-bottom: 60px;
}  

h1 {
	font: bold 48px Helvetica Neue, Helvetica, Arial, sans-serif;
	font-family: Helvetica, Arial, sans-serif; 
	margin:0px;
	margin-top:11px;
	float:left;
	color:#333;
}

h2 {
	font: 25px Helvetica Neue, Helvetica, Arial, sans-serif;
	color:#333;
	margin:0;
	margin-bottom:5px;
}

h3 {
	font-weight:normal;
	font-size:31px;
	color:white;
	background:#555;
	padding-left:7px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

	margin-bottom:0;
}

h3.pageTitle {
	margin:0;
	text-transform: uppercase;
}

p.pageTitle {
	font: 31px Helvetica Neue, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	margin:15px 0 0 0;
	letter-spacing: 1px;
}

h3.projectName {
	margin-bottom:0;
}

#firstRow {
	margin-top:15px;
}

a {	
	text-decoration:none;
	color:#2323C4;
}

p {
	color:#333;
}

.profileImage {
	height:75px;
	margin-right: 10px;
	float:left;
	border: 1px solid black;
}

table {
	margin-top:15px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
}

.thumbIpad {
	height:240px;
	width:180px;
	margin-right:5px;
	border:1px solid #333;
}

.thumbIphone {
	height:240px;
	width:160px;
	margin-right:5px;
	border:1px solid #333;
}

.tableCategory {
	font-size:24px;
}

.tableValue {
	padding-left:32px;
	font-size:16px;
}

#toph3 {
	margin-top:18px;
}

#left {
	margin-top:18px;
	margin-bottom:40px;
	width:462px;
	float:left;
	background: rgb(85,85,85);
	background-image: linear-gradient(bottom, rgb(85,85,85) 24%, rgb(102,102,102) 62%, rgb(119,119,119) 81%);
	background-image: -o-linear-gradient(bottom, rgb(85,85,85) 24%, rgb(102,102,102) 62%, rgb(119,119,119) 81%);
	background-image: -moz-linear-gradient(bottom, rgb(85,85,85) 24%, rgb(102,102,102) 62%, rgb(119,119,119) 81%);
	background-image: -webkit-linear-gradient(bottom, rgb(85,85,85) 24%, rgb(102,102,102) 62%, rgb(119,119,119) 81%);
	background-image: -ms-linear-gradient(bottom, rgb(85,85,85) 24%, rgb(102,102,102) 62%, rgb(119,119,119) 81%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.24, rgb(85,85,85)),
		color-stop(0.62, rgb(102,102,102)),
		color-stop(0.81, rgb(119,119,119))
	);
}

#right {
	margin-left: 500px;
	width:460px;
}

hr {
	width:960px;
	float:left;
	margin-left:0px;
}

.hero {
	width:460px;
	float:left;
	border: 1px solid #777;
	margin-bottom: 8px;
}

.heroLink {
	color:white;
	font-weight: bold;
}

#heroCaption {
	font-size:16px;
	margin:0 10px 0 10px;
}

#heroTitle {
	font: 31px Helvetica Neue, Helvetica, Arial, sans-serif;
	margin:0;
	color:white;
}

#heroBody {
	margin-top:10px;
	color:white;
}

#footer {
	margin-top:25px;
	font:Helvetica Neue, Helvetica, Arial, sans-serif;
}

#footerMain {
	font:Helvetica Neue, Helvetica, Arial, sans-serif;
}

.row {
}

.header {
	margin-top:25px;
}

.clear {
	clear:both;
}

.contact {
	float:right;
	padding-top:63px;
	font-size:12px;
}

.nav  {
	clear:both;
	float:left;	
}

.navItem {
	margin-left:5px;
	font-family: Helvetica Neue, Arial, sans-serif; 
}

.quote p{
	font-size:16px;
	font-style:italic;
	color:#777;
	margin:16px 0 16px 0;
}

.span3 {
	margin-left:240px;
}

.span6 {
	margin-left:480px;
}

.span9 {
	margin-left:720px;
}

.projectRow {
}

.projectImage {
	width:220px;
	float:left;
	border:black solid 1px;
	height:162px;
}

.projectDesc {
	margin-left:240px;
	height:162px;
}

p.projectCopy {
	margin-top:10px;
	padding-left:10px;
	padding-right:10px;
	color:black;
	font-family: Georgia, Times New Roman, serif; 
}

.fancybox-skin {
	background:black !important;
}